$primaryColor: #c7b1d1;
$secondaryColor: #a845de;
$thirdColor: #1c1c1c;
$titleColor: #a100a1;
$textColor: #333;
$primaryFont: "Open Sans", "segoe ui", helvetica, arial, sans-serif;
$secondaryFont: "Roboto", "segoe ui", helvetica, arial, sans-serif;
$wrapper: 1920px;
$container: 1016px;
